:root {
  --primary-color: hsla(270, 100%, 68%, 1);
  --primary-bg: hsla(270, 100%, 97%, 1);
  --primary-bg-darker: hsla(270, 100%, 90%, 1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 6rem;
  display: "flex";
  align-items: center;
  justify-content: center;
}

.row {
  padding: 0.4rem 0;
}
